<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didi.mapper.EDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.didi.po.EDevice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="device_no" property="deviceNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="share_money" property="shareMoney" jdbcType="DECIMAL" />
    <result column="save_money" property="saveMoney" jdbcType="DECIMAL" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="rental" property="rental" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="rental_h" property="rentalH" jdbcType="INTEGER" />
    <result column="rental_m" property="rentalM" jdbcType="INTEGER" />
    <result column="rental_type" property="rentalType" jdbcType="INTEGER" />
    <result column="charge_ddb" property="chargeDdb" jdbcType="INTEGER" />
    <result column="isbuy" property="isbuy" jdbcType="INTEGER" />
    <result column="k_w" property="kW" jdbcType="REAL" />
    <result column="k_m" property="kM" jdbcType="REAL" />
    <result column="k_d" property="kD" jdbcType="REAL" />
        
    <association property="user_d" column="user_id" 
			select="com.didi.mapper.EUserMapper.selectByPrimaryKey"/>
			
    <association property="manager_d" column="manager" 
			select="com.didi.mapper.EUserMapper.selectByPrimaryKey"/>    
    
    <association property="owner_d" column="owner" 
			select="com.didi.mapper.EUserMapper.selectByPrimaryKey"/>     
    
    <association property="money" column="id" 
			select="com.didi.mapper.EWalletLogMapper.getShareMoneyByDeviceId"/> 
						
	<association property="scaneCode" column="id" 
			select="com.didi.mapper.EDeviceLogMapper.getScanCodeByDeviceId"/>         
     
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, device_no, user_id, supplier, manager, owner, name, type, description, state, 
    share_money, save_money, img_url, create_time, update_time, rental, price, rental_h, 
    rental_m, rental_type, charge_ddb, isbuy, k_w, k_m, k_d
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.didi.po.EDeviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_device
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_device
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.didi.po.EDeviceExample" >
    delete from e_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.didi.po.EDevice" >
    insert into e_device (id, device_no, user_id, 
      supplier, manager, owner, 
      name, type, description, 
      state, share_money, save_money, 
      img_url, create_time, update_time, 
      rental, price, rental_h, 
      rental_m, rental_type, charge_ddb, 
      isbuy, k_w, k_m, k_d
      )
    values (#{id,jdbcType=VARCHAR}, #{deviceNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{supplier,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{shareMoney,jdbcType=DECIMAL}, #{saveMoney,jdbcType=DECIMAL}, 
      #{imgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rental,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{rentalH,jdbcType=INTEGER}, 
      #{rentalM,jdbcType=INTEGER}, #{rentalType,jdbcType=INTEGER}, #{chargeDdb,jdbcType=INTEGER}, 
      #{isbuy,jdbcType=INTEGER}, #{kW,jdbcType=REAL}, #{kM,jdbcType=REAL}, #{kD,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.didi.po.EDevice" >
    insert into e_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceNo != null" >
        device_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="shareMoney != null" >
        share_money,
      </if>
      <if test="saveMoney != null" >
        save_money,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="rental != null" >
        rental,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="rentalH != null" >
        rental_h,
      </if>
      <if test="rentalM != null" >
        rental_m,
      </if>
      <if test="rentalType != null" >
        rental_type,
      </if>
      <if test="chargeDdb != null" >
        charge_ddb,
      </if>
      <if test="isbuy != null" >
        isbuy,
      </if>
      <if test="kW != null" >
        k_w,
      </if>
      <if test="kM != null" >
        k_m,
      </if>
      <if test="kD != null" >
        k_d,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="shareMoney != null" >
        #{shareMoney,jdbcType=DECIMAL},
      </if>
      <if test="saveMoney != null" >
        #{saveMoney,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rental != null" >
        #{rental,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="rentalH != null" >
        #{rentalH,jdbcType=INTEGER},
      </if>
      <if test="rentalM != null" >
        #{rentalM,jdbcType=INTEGER},
      </if>
      <if test="rentalType != null" >
        #{rentalType,jdbcType=INTEGER},
      </if>
      <if test="chargeDdb != null" >
        #{chargeDdb,jdbcType=INTEGER},
      </if>
      <if test="isbuy != null" >
        #{isbuy,jdbcType=INTEGER},
      </if>
      <if test="kW != null" >
        #{kW,jdbcType=REAL},
      </if>
      <if test="kM != null" >
        #{kM,jdbcType=REAL},
      </if>
      <if test="kD != null" >
        #{kD,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.didi.po.EDeviceExample" resultType="java.lang.Integer" >
    select count(*) from e_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update e_device
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceNo != null" >
        device_no = #{record.deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplier != null" >
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.manager != null" >
        manager = #{record.manager,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null" >
        owner = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.shareMoney != null" >
        share_money = #{record.shareMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.saveMoney != null" >
        save_money = #{record.saveMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rental != null" >
        rental = #{record.rental,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.rentalH != null" >
        rental_h = #{record.rentalH,jdbcType=INTEGER},
      </if>
      <if test="record.rentalM != null" >
        rental_m = #{record.rentalM,jdbcType=INTEGER},
      </if>
      <if test="record.rentalType != null" >
        rental_type = #{record.rentalType,jdbcType=INTEGER},
      </if>
      <if test="record.chargeDdb != null" >
        charge_ddb = #{record.chargeDdb,jdbcType=INTEGER},
      </if>
      <if test="record.isbuy != null" >
        isbuy = #{record.isbuy,jdbcType=INTEGER},
      </if>
      <if test="record.kW != null" >
        k_w = #{record.kW,jdbcType=REAL},
      </if>
      <if test="record.kM != null" >
        k_m = #{record.kM,jdbcType=REAL},
      </if>
      <if test="record.kD != null" >
        k_d = #{record.kD,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update e_device
    set id = #{record.id,jdbcType=VARCHAR},
      device_no = #{record.deviceNo,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      manager = #{record.manager,jdbcType=VARCHAR},
      owner = #{record.owner,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      share_money = #{record.shareMoney,jdbcType=DECIMAL},
      save_money = #{record.saveMoney,jdbcType=DECIMAL},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      rental = #{record.rental,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      rental_h = #{record.rentalH,jdbcType=INTEGER},
      rental_m = #{record.rentalM,jdbcType=INTEGER},
      rental_type = #{record.rentalType,jdbcType=INTEGER},
      charge_ddb = #{record.chargeDdb,jdbcType=INTEGER},
      isbuy = #{record.isbuy,jdbcType=INTEGER},
      k_w = #{record.kW,jdbcType=REAL},
      k_m = #{record.kM,jdbcType=REAL},
      k_d = #{record.kD,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.didi.po.EDevice" >
    update e_device
    <set >
      <if test="deviceNo != null" >
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="shareMoney != null" >
        share_money = #{shareMoney,jdbcType=DECIMAL},
      </if>
      <if test="saveMoney != null" >
        save_money = #{saveMoney,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rental != null" >
        rental = #{rental,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="rentalH != null" >
        rental_h = #{rentalH,jdbcType=INTEGER},
      </if>
      <if test="rentalM != null" >
        rental_m = #{rentalM,jdbcType=INTEGER},
      </if>
      <if test="rentalType != null" >
        rental_type = #{rentalType,jdbcType=INTEGER},
      </if>
      <if test="chargeDdb != null" >
        charge_ddb = #{chargeDdb,jdbcType=INTEGER},
      </if>
      <if test="isbuy != null" >
        isbuy = #{isbuy,jdbcType=INTEGER},
      </if>
      <if test="kW != null" >
        k_w = #{kW,jdbcType=REAL},
      </if>
      <if test="kM != null" >
        k_m = #{kM,jdbcType=REAL},
      </if>
      <if test="kD != null" >
        k_d = #{kD,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.didi.po.EDevice" >
    update e_device
    set device_no = #{deviceNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      share_money = #{shareMoney,jdbcType=DECIMAL},
      save_money = #{saveMoney,jdbcType=DECIMAL},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      rental = #{rental,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      rental_h = #{rentalH,jdbcType=INTEGER},
      rental_m = #{rentalM,jdbcType=INTEGER},
      rental_type = #{rentalType,jdbcType=INTEGER},
      charge_ddb = #{chargeDdb,jdbcType=INTEGER},
      isbuy = #{isbuy,jdbcType=INTEGER},
      k_w = #{kW,jdbcType=REAL},
      k_m = #{kM,jdbcType=REAL},
      k_d = #{kD,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>